<html>
<head>

</head>
<body>

    <div>
        <img src="../../assets/Dark Red Pastel Blue White Dynamic Frames Gain Volunteers Raise Funds Banner.png" width="100%" height="500px">
        </div>
      

        <br><br>
        <u><h1 style="text-align: center;">Some Best Selections For You</h1 ></u>
        
        
            <br>
        
        
            <hr>
            <br>
        <div class="container"  >
        
           
        <div class="row" style="width: 100%;" >
            <div class="col-sm-6" >
               <section class="team">
           
                   <div class="team-cards" >
                    <!-- Cards here -->
                    <!-- Card 1 -->
                       <div class="card" style="width: 500px;">
                          <div class="card-img" style="width: 500px; height: 200px;">
                                <img src="../../assets/bl2.jpg"/>
                           </div>
                             <div class="card-info">
                                   <h2 class="card-name">
                            
                                  Medipoint Blood Storage Centre</h2>
                                  <p class="card-role">Address: Vita life Medipoint Hospital New DP road, AIMS Rd, Baundri, Aundh, Pune, Maharashtra 411007
                                   Areas served: Pune and nearby areas
                                   Hours: 
                                    Open 24 hours
                                   Phone: 077739 66539</p>
                                      
                  
                                </div>

                        </div>
                

                    </div>
                 </section>
      
             </div>
        
             <div class="col-sm-6" >
                <section class="team">
            
                    <div class="team-cards" >
                     <!-- Cards here -->
                     <!-- Card 1 -->
                        <div class="card" style="width: 500px;">
                           <div class="card-img" style="width: 500px; height: 200px;">
                                 <img src="../../assets/bl1.jpg"/>
                            </div>
                              <div class="card-info">
                                    <h2 class="card-name">
                             
                                        Jankalyan Blood Centre</h2>
                                   <p class="card-role">Address: 1003, Saras Baug Rd, near Hotel Natraj, Dadawadi, Shukrawar Peth, Pune, Maharashtra 411002
                                    Hours: 
                                    Open 24 hours
                                    Phone: 020 2444 9527</p>
                                       
                   
                                 </div>
 
                         </div>
                 
 
                     </div>
                  </section>
       
              </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
        </div>
        
        <br><br><br><br>
     
        
        





</body>


</html>
