<html>
<head>




</head>
<body>
    <div>
<img src="../../assets/Gradient Medical Center Banner Landscape (1).png" width="100%" height="500px">
</div>

<br><br>
<u><h1 style="text-align: center;">Nephroworld Dialysis Centre</h1 ></u>


    <br>


    <hr>
    <br>
<div class="container"  style="border: 2px solid;">

   
<div class="row" style="width: 100%;" >
    <div class="col-sm-8" >
<section class="team">
   
    <div class="team-cards" >
        <!-- Cards here -->
        <!-- Card 1 -->
        <div class="card" style="width: 500px;">
            <div class="card-img" style="width: 500px; height: 200px;">
                <img src="../../assets/22.jpg"/>
            </div>
            <div class="card-info">
                <h2 class="card-name">Nephroworld Dialysis Centre.</h2>
                <p class="card-role">Address: Address is wrong, Survay no. 25, 
                    Silver A wing, 2nd floor Shop number 13, 14, 15, above MORE Above &SARASWATH BANK,
                     d Rd, Vishal Nagar, Pimpri-Chinchwad, Maharashtra 411027
                    Areas served: Vishal Nagar
                    Phone: 088267 75718</p>
                
           
            </div>
        </div>
    </div>
</section>


    
    

   
    </div>
    <div class="col-sm-4">
       
    
<section class="team">
   
    <div class="team-cards">
        <!-- Cards here -->
        <!-- Card 1 -->
        <div class="card">
            <div class="card-img">
                <img src="../../assets/aa.jpg"/>
            </div>
            <div class="card-info">
                <h2 class="card-name">Nephroworld Dialysis Centre.</h2>
                <p class="card-role"></p>
                <div><p><a href="bookappointment"><button class="button" onclick="redirectToNextPage()">Book Appointment Now</button></a></p></div>
            <script>
                function redirectToNextPage() {
                // Redirect to the next HTML page (honeymoon.html in this case)
                window.location.href = 'goa.html';
              }
            </script>
            </div>
        </div>
    </div>
</section>




        
        </div>





















</div>
</div>

<br><br><br><br>
</body>




</html>
