<html>
  <head> </head>
  <body>
    <div>
      <img
        src="../../assets/Dark Red Pastel Blue White Dynamic Frames Gain Volunteers Raise Funds Banner.png"
        width="100%"
        height="500px"
      />
    </div>

    <br /><br />
    <u><h1 style="text-align: center">Some Best Selections For You</h1></u>

    <br />

    <hr />
    <br />
    <div class="container">
      <div class="row" style="width: 100%">
        <div class="col-sm-6">
          <section class="team">
            <div class="team-cards">
              <!-- Cards here -->
              <!-- Card 1 -->
              <div class="card" style="width: 500px">
                <div class="card-img" style="width: 500px; height: 200px">
                  <img src="../../assets/bl2.jpg" />
                </div>
                <div class="card-info">
                  <h2 class="card-name">Om Blood Bank</h2>
                  <p class="card-role">
                    Address: Baburaoji Sonawane Path, Mangalwar Peth, Kasba
                    Peth, Pune, Maharashtra 411011 Hours: Open 24 hours
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="col-sm-6">
          <section class="team">
            <div class="team-cards">
              <!-- Cards here -->
              <!-- Card 1 -->
              <div class="card" style="width: 500px">
                <div class="card-img" style="width: 500px; height: 200px">
                  <img src="../../assets/bl3.jpg" />
                </div>
                <div class="card-info">
                  <h2 class="card-name">
                    Poona Serological Institute Blood Bank
                  </h2>
                  <p class="card-role">
                    Address: Dhanwantri Complex, Vednath S Marg, Rasta Peth,
                    Pune, Maharashtra 411011 Phone: 020 2613 3387
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <br /><br /><br /><br />
  </body>
</html>
