<html>
<head>
  
  


</head>

<body>
  

  <div class="nav">
        <div class="container">
            <div class ="row">
                <div class="col-sm-2" id ="b1">
                  <th> <img src ="../../assets/222.png" height="90px" width="170px"></th>
                 </div>
                <div class="col-sm-1">
                  <th> <a class="active" href="home">Home</a></th>
                </div>
                <div class="col-sm-1">
                  <th> <a href="register">Resister</a></th>
                </div>
               <div class="col-sm-1">    



                
                <th> <a href="contact">Contact</a></th> 
                </div>
               <div class="col-sm-1">
                <th> <a href="about">About</a></th>
                </div>
                <div class="col-sm-1">
                <th> <a href="data">Data</a></th>
                </div>
                <div class="col-sm-1">
                  <th> <a href="logout">Logout</a></th>
                  </div>
 
      <div class="col-sm-4">
          <th> <a class="onactive" href="signin">sign-in</a></th>
          <th> <a class="ofactive" href="bookappointment">registration</a></th>
         
          <h5 style="text-align:center">Welcome {{userIdentity}}</h5>
          
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>













  




