<html>
<head>


</head>

<body style="background-image: url('../../assets/medical-banner-with-doctor-wearing-equipment.jpg');">
        <br><br><br><br><br><br><br><br>
<div class="container" > 
    <div class="row" style="  background-color:   rgba(250, 172, 69, 0.5)">
        <div class="col-sm-4">

            <img src="../../assets/smiley-businesswoman-using-smartphone-credit-card-outdoors.jpg" height="450p" width="450px" style="margin-top: 10px; margin-bottom: 10px;">


        </div>


        <div class="col-sm-5">



    <div id="d1">
    <fieldset >
    <p>payment works!</p>
    <form>
    <label>user name</label>
    <input type="text" value="enter user name">
    <br><br><br>
    <label>Card NO</label>
    <input type="number" value="enter user card no">
    <br><br><br>
    <label>Amount</label>
    <input type="number" value="enter Amount">
    <br><br><br>
    <a href="paysuccess"><input type="button" class="btn btn-success" value="pay"></a>
    
    <br><br><br>
    </form>
    </fieldset>
    </div>
    
</div>
</div>

            
</div>
<br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    </body>
</html>

